{% extends 'base.html' %}

{% block content %} 
<div id="banner">
    <div class="container" align="left">
      <h2 style="color:white;" align="center">Abdoulaye, premier ouvrier mort sur le chantier du Grand Paris Express, est parti  «en guerrier»</h2><br /><br />
      <p style="color:white;">
      Ce jour-là, il est parti comme tous les jours pour prendre le train depuis son domicile d'Achères (Yvelines), traverser l'Ile-de-France et arriver au Bourget (Seine-Saint-Denis). C'est là, dans cette banlieue nord de Paris, coincée entre des autoroutes, des entrepôts, des voies de chemin de fer et quelques pavillons, qu'Abdoulaye Soumahoro travaille depuis maintenant deux ans. Dans une immense zone peuplée de grues, de foreuses, de béton et de métal, au milieu des préfabriqués, sur le « chantier du siècle », dédié à la construction du Grand Paris Express.<br />

      Ce 22 décembre 2020, comme d'habitude, Abdoulaye zigzague entre les palissades, blague avec ses collègues, revêt sa tenue de sécurité, et s'engouffre, pendant 7 heures, dans un tunnel à 30 mètres de profondeur. Il n'en ressortira pas vivant. Abdoulaye, 41 ans, père de trois jeunes enfants (un de 5 ans et des jumeaux de 3 ans), est mort coincé dans un malaxeur à béton, au fond de ce chantier.<br />

      « Ce n'est pas normal de partir travailler et de ne jamais revenir », pleure aujourd'hui sa veuve, Assitan. Elle avait rencontré son conjoint en 2014. Il était aussi « un père de substitution » pour ses deux ados nés d'une précédente union. « Eux aussi sont très affectés par sa disparition », explique-t-elle. Pour les trois plus jeunes, « c'est très très difficile, ils réclament souvent leur père, le soir.  Ils ne comprennent pas. »
      <br />
      « Ce qui me fait mal, confie-t-elle aujourd'hui, c'est qu'il a donné sa vie pour son travail. Il était tellement content de travailler pour Eiffage, à la construction de la ligne 16 du Grand Paris Express. Il en parlait quand on se baladait et qu'il voyait d'autres chantiers, il était fier. »<br />

      Aujourd'hui, Assitan attend les conclusions de l'enquête. Elle ne sait pas vraiment ce qu'il s'est passé. « La police doit me tenir au courant, je veux savoir comment mon mari est décédé », indique-t-elle. Sur son métier, qu'il savait « dangereux », Abdoulaye ne donnait pas plus de détail. « Je savais qu'il était dans le tunnelier. Peut-être qu'il ne me disait pas tous les risques pour ne pas m'inquiéter. »<br />

      A son grand frère Kassoum, Abdoulaye avait aussi dit que son métier était dangereux. « Il en parlait souvent. Mais mon frère était peureux, il n'aurait pas pris de risques », pense Kassoum. Six semaines après le drame, il avoue avoir du mal encore aujourd'hui à faire le deuil d'Abdoulaye, « plus qu'un petit frère, un ami », avec qui il a partagé tant de choses. Jusqu'à un dernier repas en famille, deux jours avant son décès.<br />

      Il doit consoler aujourd'hui leur mère, restée dans leur pays d'origine, la Côte d'Ivoire. Et espère savoir bientôt la vérité. « Je fais confiance à la justice. La France est un Etat de droit. On attend les résultats de l'enquête. Mais si l'on s'aperçoit que les règles de sécurité n'ont pas été respectées, on fera tout pour faire sortir la vérité. On ne va pas lâcher », affirme Kassoum.<br />

      La mort d'Abdoulaye a aussi affecté ses collègues, qui ont organisé spontanément une collecte pour sa famille. Ils étaient nombreux à être présents à ses funérailles, le 13 janvier. « Il était toujours souriant, on plaisantait beaucoup avec lui. C'était un plaisir d'aller au travail ensemble », témoigne l'un d'eux.<br />

      « Tous ses collègues m'appellent, tous m'ont soutenu, confirme Kassoum. Ils me disent que mon petit frère les faisait rire. Ils m'envoient des vidéos en souvenir, quand ils chantaient la Marseillaise dans le tunnel. Il aimait beaucoup chanter. Il est mort en guerrier, sur le champ de combat, pas en faisant des bêtises. Je suis fier de lui. »<br />

      Eiffage, de son côté, indique que tout le groupe a été affecté par la disparition d'Abdoulaye et se dit « attentif à accompagner tous les collaborateurs ainsi que la famille de la victime ». L'entreprise a notamment aidé sa femme pour les obsèques et dans ses démarches pour la prévoyance.<br />

      Kassoum, lui, veut croire qu'Eiffage a assuré la sécurité de son petit frère, qui avait décroché ce CDI de chantier jusqu'en 2025 après une période d'intérim. « Il a été un peu formé sur le tas. Il était heureux de ce qu'il faisait, de ce projet-là. Il me disait : On fait le métro, explique Kassoum. Eiffage n'est pas une petite boîte, son responsable ne l'aurait pas envoyé là s'il ne l'en croyait pas capable. Je ne veux accuser personne mais j'attends les résultats de l'enquête. »<br />
      
      </p>
    
    </div>
  </div>














{% endblock %}
