<!DOCTYPE html>
<html lang="fr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Le Banlieuzar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
	<div id="header-wrapper">
	  <div id="header" class="container">
		<div id="logo">
		  <h1><a href="{{ url_for('category') }}">LeBanlieuZar</a></h1>
		</div>
		<div id="menu">
		  <ul>
			{% if param == 'politique' %}
			  <li class="current_page_item"><a href="{{ url_for('category', categ='politique') }}">Politique</a></li>
			{% else %}
			  <li><a href="{{ url_for('category', categ='politique') }}">Politique</a></li>
			{% endif %}
			{% if param == 'economie' %}
			  <li class="current_page_item"><a href="{{ url_for('category', categ='economie') }}">Economie</a></li>
			{% else %}
			  <li><a href="{{ url_for('category', categ='economie') }}">Economie</a></li>
			{% endif %}
			{% if param == 'societe' %}
			  <li class="current_page_item"><a href="{{ url_for('category', categ='societe') }}">Société</a></li>
			{% else %}
			  <li><a href="{{ url_for('category', categ='societe') }}">Société</a></li>
			{% endif %}
			{% if param == 'faits_divers' %}
			  <li class="current_page_item"><a href="{{ url_for('category', categ='faits_divers') }}">Faits Divers</a></li>
			{% else %}
			  <li><a href="{{ url_for('category', categ='faits_divers') }}">Faits Divers</a></li>
			{% endif %}
		  </ul>
		</div>
	  </div>
	</div>
	
	{% block content %} {% endblock %}
  
  </div>

  <div id="copyright" class="container">
	<p><a href="#">www.6netic.eu</a> | Created by Eric Bresler.</p>
  </div>
</body>
</html>








