
{% extends 'base.html' %}

{% block content %} 
<div id="banner">
  <div class="container" align="left">
    <p>			
      <h2 style="color:white;">Présidentielle 2022 : Zemmour se rêve en recours de la droite extrême</h2><br />
    </p>
    <p>
      <h2 style="color:white;">Anne Hidalgo et Jean Castex, les coulisses d’une étonnante complicité</h2><br />
    </p>
    <p>
      <h2 style="color:white;">Emmanuel Macron : «On a eu raison de ne pas reconfiner» 
           Emmanuel Macron : «On a eu raison de ne pas reconfiner»</h2><br />
    </p>		
  </div>
</div>
{% endblock %}


